{% load static %}

<!-- Services -->
<div class="section-full">
    <div class="row spno about-industry">
        <div class="col-lg-8">
            <img src="{% static 'app_core/images/our-work/oilgas/pic1.jpg' %}" alt="" class="img-cover">
        </div>
        <div class="col-lg-4 bg-white">
            <div class="service-box style2">
                <div>
                    <h2 class="title text-black">Mision</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        
        
        <div class="col-lg-4 bg-white">
            <div class="service-box style2">
                <div>
                    <h2 class="title text-black">Vision</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <img src="{% static 'app_core/images/our-work/oilgas/pic5.jpg' %}" alt="" class="img-cover">
        </div>
        
    </div>
</div>
<!-- Services END -->