{% load static %}

<!-- About Us -->
<div class="section-full content-inner bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 m-b30">
                <div class="our-story">
                    <span>OUR COMPANY</span>
                    <h2 class="title">Commited to <br/>High <br/> Quality <span class="text-primary">Service</span></h2>
                    <p style="text-align: justify">{{ about.about|safe }}</p>
                    <a href="{% url 'app_core:about' %}" class="site-button">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 m-b30 our-story-thum">
                {% if about.image %}
                	<img src="{{ about.image.url }}" class="radius-sm" alt="">
                {% endif %}                 
            </div>
        </div>
    </div>
</div>
<!-- About Us End -->