{% load static %}

<!-- About Services info -->
<div class="section-full content-inner bg-white video-section"
     style="background-image:url('images/background/bg-video.png');">
    <div class="container">
        <div class="section-content">
            <div class="row d-flex">
                <div class="col-lg-6 col-md-12 m-b30">
                    <div class="video-bx">
                        {% if about.image %}
                            <img src="{{ about.image.url }}" alt="Signature">
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 m-b30 align-self-center video-infobx">
                    <div class="content-bx1">
                        <h2 class="m-b15 title">A company involved in<br><span
                                class="text-primary"> construction.</span>
                        </h2>
                        <p class="m-b30">{{ about.about|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Services info END -->

<!-- Services -->
<!-- contact area -->
<div class="content-block">
    <!-- Services -->
    <div class="section-full mb-4">
        <div class="row spno about-industry">

            <div class="col-lg-4 bg-primary">
                <div class="service-box style2" style="background-color: #f5f3f3">
                    <div>
                        <h2 class="title">Mision</h2>
                        <p>>{{ about.mision|safe }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                {% if about.image_mission_vision %}
                    <img src="{{ about.image_mission_vision.url }}" alt="" class="img-cover">
                {% endif %}
            </div>

            <div class="col-lg-4 bg-primary">
                <div class="service-box style2" style="background-color: #f5f3f3">
                    <div>
                        <h2 class="title text-black">Vision</h2>
                        <p class="" style="color: white">{{ about.vision|safe }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Services END -->
</div>
<!-- contact area END -->
<!-- Services END -->